.container.ombre {
  background: rgba(255,255,255,0.5);
  margin-top: -50px;
  position: relative;
}

#home {
  background: #C0F2EC;

  #main-header {
    background-image: url(../img/0_Main-menu_by-David-Revoy.jpg);
  }

  /* > .container {
    margin-bottom: 80px;
  } */

  main img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.4);
  }

  #main-header h1 {
    text-align: center;
    font-size: 63px;
    padding-top: 440px;
    margin: 0;
    color: #558180;
    background: url(../img/0_Main-menu_by-David-Revoy.jpg);
    background-position: -1100px -520px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @supports not (-webkit-background-clip: text) {
    #main-header h1 {
      background: none;
    }
  }

  .pull-right {
    position: absolute;
    right: 30px;
  }

  .journal {
    border: 16px solid transparent;
    border-image: url(../img/journal/frise_by-David-Revoy.jpg) 10% round;
    margin: 15px 0;
    background: #fee8c6;

    img {
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }

    a {
      display: block;
      color: #422;
      text-decoration: none;
      margin: 20px auto;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .soutenir .col-sm-6 {
    padding-bottom: 60px;
  }
}

#app .btn.btn-default,
#app .btn.btn-soutenir {
  text-transform: uppercase;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  border-radius: 3px;
}

#services {
  background: #B49CD8;

  #main-header {
    background-image: url(../img/1_Services_by-David-Revoy.jpg);
  }
}

#essaimage {
  background: #93d4db;

  #main-header {
    background-image: url(../img/2_Essaimage_by-David-Revoy.jpg);
  }
}

#educ-pop {
  background: #DCDD43;

  #main-header {
    background-image: url(../img/3_Educ-Pop_by-David-Revoy.jpg);
  }
}

#main-header {
  min-height: 700px;
  background-size: cover;
  background-position: center bottom;
}

#services, #essaimage, #educ-pop {
  #main-header h1 {
    display: none;
  }

  > .container {
    margin-top:-160px;
  }

  main img {
    max-width: 100%;
    height: auto;
    margin-top: 25px;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.4);
    background: #fff;
    padding: 0px;
  }

  @media (max-width:768px) {
    main img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

#footer {
  padding: 50px 0;
  background: #6A5687;
  font-size: 14px;
  margin-bottom: -42px;

  h2 {
    color: #fff;
    font-family: "IM Fell English", Helvetica, Arial, sans-serif;
  }

  img {
    width: 80%;
    margin: 0 auto;
    box-shadow: none;
  }
}

main {
  font-size: 16px;
  line-height: 25px;

  h1, h2, h3 {
    color: #333;
    font-family: "IM Fell English", Helvetica, Arial, sans-serif;
  }
}

@media (max-width: 768px) {
  #main-header {
    min-height: 400px;
  }

  #home #main-header h1 {
    padding-top: 240px;
    font-size: 48px;
    background-position: -1400px -750px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -100px;
  }
}

@media (min-width: 992px) {
  #main-header {
    min-height: 700px;
  }

  #home #main-header h1 {
    padding-top: 440px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -160px;
  }
}

@media (min-width: 1248px) {
  #main-header {
    min-height: 900px;
  }

  #home #main-header h1 {
    padding-top: 580px;
    background-position: -800px -370px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -260px;
  }
}
@media (min-width: 1500px) {
  #main-header {
    min-height: 1080px;
  }

  #home #main-header h1 {
    padding-top: 700px;
    background-position: -550px -260px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -360px;
  }
}

#journal {
  background: #222 url(../img/journal/topo.png) repeat;

  header { display: none; }

  #app h1 {
    text-align: center;
    font: 50px "IM Fell English", Helvetica, Arial, sans-serif;
    text-shadow: 2px 1px 1px #000;
    font-style: italic;
    font-weight: 400;
    color: #fff;
  }

  @import 'polyptyque';

  .container.ombre {
    background: #f6efe9 url(../img/journal/croquisb.jpg) repeat-y;
    margin-top: 10px;
  }

  #postImage {
    width: calc(100% + 60px);
    height: 500px;
    background-position: top;
    background-size: cover;
    background-image: url(../img/journal/sketch01_carnet-intro_by_David_Revoy.jpg);
    margin: -20px 0px 20px -30px;
    padding: 70px 30px;
  }

  .list-group li {
    border: none;
    border-radius: 0;
    border-left: 4px solid #6f5d51;
    background: #fee8c666;
    margin-bottom: 10px;
  }

  footer {
    background: none;
  }
}

/* Extend soutenir.scss */
#soutenir {
  h3 {
    font-family: "IM Fell English", Helvetica, Arial, sans-serif;
  }

  .col-md-5 > p:not(.fc_g4) {
    background: #fffc;
    padding: 15px;
    margin: 0;
  }

  .fc_g4 {
    color: #fffb;
  }

  .ombre, .panel {
    background: #f6efe9 url(../img/journal/croquisb.jpg) repeat-y;
  }

  .btn.btn-default {
    box-shadow: none;
    border-radius: 0;
  }

  .well {
    border-color: #dfd0bf;
    background: #fee8c666;
    box-shadow: none;
  }

  .why, .money {
    h3 {
      color: #fff;
    }
  }

  .clearfix.help-block {
    background: #dfd0bf66;
  }

  #modalTL .modal-header {
    background: #333;

    h1 {
      text-align: center;
      font: 50px "IM Fell English", Helvetica, Arial, sans-serif;
      text-shadow: 2px 1px 1px #000;
      font-style: italic;
      font-weight: 400;
      color: #fff;
    }

    .close {
      color: #fff;
      text-shadow: none;
    }
  }
}