
@keyframes posanim {
  0% { transform: scale(1); }
  50% {
    transform: scale(1.2);
    background: white;
  }
  100% { transform: scale(1); }
}

.map {
  border: 16px solid transparent;
  border-image: url(../img/journal/frise_by-David-Revoy.jpg) 10% round;
  margin: 30px;
}

.maps {
  padding: 0 !important;

  img { width: 100%; }

  span {
    display: inline-block;
    font-family: PTSansCaption, GillSans, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #2f2f2f;
    text-shadow: 0 0 5px white;
    padding: 5px 5px 0;
    margin-bottom: 5px;
    border-left: 4px solid transparent;
  }

  a {
    position: absolute;
    text-align: center;
    margin-left: -15%;
    margin-top: -14%;
    max-width: 150px;

    .spot {
      display: inline-block;
      background: #FFAB43;
      width: 20px;
      height: 20px;
      border: 2px solid rgba(20,0,0,0.60);
      border-radius: 50%;
    }

    &:hover {
      .spot {
        animation-name: posanim;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
      }

      span {
        border-color: #6f5d51;
        background: #fee8c6bb;
        text-shadow: none;
      }
    }
  }


}

#p-intro { top: 22%; left: 55%;}
#p-mobilizon { top: 54.5%; left: 70.2%;}
#p-i18n { top: 62%; left: 35.5%;}
#p-benevalibre { top: 85%; left: 35.5%;}

#p-petitions { top: 35%; left: 35%;}
#p-peertube { top: 61%; left: 58%;}
#p-fail { top: 76.5%; left: 35.5%;}
#p-bonus { top: 88%; left: 75%;}

#p-civitates { top: 25%; left: 38%;}
#p-mooc { top: 48%; left: 64.5%;}
#p-arch { top: 75%; left: 57%;}

#p-unloc { top: 10%; left: 23%;}
#p-feedback { top: 20%; left: 77%;}
#p-future { top: 38%; left: 29.5%;}
#p-mobilizon2 { top: 69%; left: 28%;}
#p-fetes { top: 79%; left: 63%;}