<template>
  <main class="container ombre">
    <router-link :to="`/${$t('lang')}/`" class="btn btn-default">
      <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i>
      <span v-html="$t('txt.backHome')"></span>
    </router-link>
    <I18n />
    <div class="row">
      <div grid class="col-sm-8 col-sm-offset-4">
        <h1 v-html="$t('essaimage.title')"></h1>
        <v-text :section="'essaimage.intro'" />
      </div>
    </div>
    <section v-for="key in Object.keys($t('essaimage.sections'))"
      :key="key"
      class="row">
      <div class="col-sm-4 text-center">
        <img :src="`${$t('/')}img/essaimage-${key}.jpg`" alt="">
      </div>
      <div class="col-sm-8">
        <v-text :section="`essaimage.sections.${key}`" />
      </div>
    </section>
    <Signature />
  </main>
</template>

<script>
import I18n from '../partials/I18n.vue';
import Signature from '../partials/Signature.vue';
import VText from '../partials/V-Text.vue';

export default {
  components: {
    I18n, Signature, VText
  },
}
</script>
