<template>
  <main class="container ombre">
    <I18n />
    <div v-if="!this.is.before('2019/10/15')">
      <h2 v-html="$t('journal.title2')"></h2>
      <div class="text-center journal">
        <router-link :to="`/${$t('lang')}/journal`">
          <img :src="`${$t('/')}img/home-journal-intro.png`" alt="" />
          <br>
          <span v-html="$t('journal.read')"></span>
        </router-link>
      </div>
    </div>

    <v-text :section="'home.intro'" />
    <p>
      <a class="btn btn-default"
        href="https://framablog.org/2017/10/09/contributopia-degoogliser-ne-suffit-pas/"
        v-html="$t('txt.more')">
      </a>
    </p>

    <section v-for="section in ['services', 'essaimage', 'educ-pop']"
      :key="section"
      class="row">
      <div class="col-sm-4 text-center">
        <router-link :to="`/${$t('lang')}/${section}`" aria-hidden="true">
          <img :src="`${$t('/')}img/menu-${section}.png`" alt="" />
        </router-link>
      </div>
      <div class="col-sm-8">
        <v-text :section="`home.${section}`" />
        <p>
          <router-link
            :to="`/${$t('lang')}/${section}`"
            class="btn btn-default"
            v-html="$t('txt.more')">
          </router-link>
        </p>
      </div>
    </section>
    <Signature />
  </main>
</template>

<script>
import I18n from '../partials/I18n.vue';
import Signature from '../partials/Signature.vue';
import VText from '../partials/V-Text.vue';

export default {
  components: {
    I18n, Signature, VText
  },
}
</script>
