<template>
  <div>
    <h1 v-html="$t('journal.title')"></h1>

    <div class="map">
      <figure v-for="index in Object.keys($t('polyptyque')).length"
        :key="index"
        class="maps col-sm-12 col-md-6 col-lg-3">
        <img :src="`${$t('/')}img/journal/polyptyque-${index}_by-David-Revoy.jpg`">
        <a v-for="key in $t(`polyptyque.t${index}`)"
          v-show="!is.before(blogDate($t(`summary.${key}[0]`)))"
          :key="key"
          :id="`p-${key}`"
          :href="$t('lang') !== 'fr' && $te(`summary.${key}[1]`) ? $t(`summary.${key}[1]`) : $t(`summary.${key}[0]`)">
          <span v-html="$t(`journal.summary.polyptyque.${key}`)"></span>
          <br>
          <i class="spot" aria-hidden="true"></i>
        </a>
      </figure>

      <div style="clear: both"></div>
    </div>

    <main class="container ombre">
      <div id="postImage">
        <router-link :to="`/${$t('lang')}/`" class="btn btn-default">
          <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i>
          <span v-html="$t('txt.backHome')"></span>
        </router-link>
        <I18n />
      </div>

      <div class="row">
        <div class="col-sm-12">
          <v-text :section="'journal.summary.intro'" />
        </div>
        <h2 class="col-sm-12" v-html="$t('journal.summary.title')"></h2>
        <div v-for="index in 4"
          :key="index"
          class="col-sm-12 col-md-6 col-lg-3">
          <ul class="list-group">
            <li v-for="key in summary[index - 1]"
              :key="key"
              class="list-group-item">
              <time v-if="!is.before(blogDate($t(`summary.${key}[0]`)))"
                class="pull-right text-muted small"
                :datetime="new Date(blogDate($t(`summary.${key}[0]`))).toISOString().substring(0, 10)"
                v-html="date(blogDate($t(`summary.${key}[0]`)))">
              </time>
              <b
                v-html="$t(`journal.summary.polyptyque.${key}`)">
              </b>
              <br>
              <span v-if="!is.before(blogDate($t(`summary.${key}[0]`)))">
                <a :href="$t(`summary.${key}[0]`)"
                  v-html="$i18n.messages.locales.fr">
                </a>
                <span v-if="$te(`summary.${key}[1]`)">
                  –
                  <a :href="$t(`summary.${key}[1]`)"
                    v-html="$i18n.messages.locales.en">
                  </a>
                </span>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <Signature />
    </main>
  </div>
</template>

<script>
import I18n from '../partials/I18n.vue';
import Signature from '../partials/Signature.vue';
import VText from '../partials/V-Text.vue';

export default {
  components: {
    I18n, Signature, VText
  },
  data() {
    const summary = [];
    const keys = Object.keys(this.$t('summary'));

    for (let i = 0; i < 4; i += 1) {
      summary[i] = keys.slice(0 + i * 4, 4 + i * 4);
    }

    return {
      summary,
    }
  },
  methods: {
    blogDate(link) {
      const date = link.match(/.*(2019\/[0-9]{2}\/[0-9]{2}).*/)[1];
      return date;
    },
    date(date) {
      return new Date(date).toLocaleDateString(this.$t('lang'), {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      });
    }
  },
}
</script>