<template>
  <footer id="footer" class="hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div v-if="!/home|journal/.test($route.meta.id)" class="row menu">
            <h2 v-html="$t('footer.explore.title')"></h2>
            <div :class="`col-sm-${w} text-center`">
              <p>
                <router-link :to="`/${$t('lang')}/`">
                  <img class="img-responsive" alt="" :src="`${$t('/')}img/menu-home.png`">
                  <br>
                  <span class="btn btn-lg btn-default"
                    v-html="$t('home.title')">
                  </span>
                </router-link>
              </p>
            </div>
            <div v-if="w === 3" :class="`col-sm-${w} text-center`">
              <p>
                <router-link :to="`/${$t('lang')}/journal`">
                  <img class="img-responsive" alt="" :src="`${$t('/')}img/menu-journal.png`">
                  <br>
                  <span class="btn btn-lg btn-default"
                    v-html="$t('journal.title2')">
                  </span>
                </router-link>
              </p>
            </div>
            <div v-for="section in ['services', 'essaimage', 'educ-pop']"
              v-show="$route.meta.id !== section"
              :key="section"
              :class="`col-sm-${w} text-center`">
              <p>
                <router-link :to="`/${$t('lang')}/${section}`">
                  <img class="img-responsive" alt="" :src="`${$t('/')}img/menu-${section}.png`">
                  <br>
                  <span class="btn btn-lg btn-default"
                    v-html="$t(`${section}.title`)">
                  </span>
                </router-link>
              </p>
            </div>
          </div>

          <div class="clearfix soutenir" v-else>
            <soutenir />
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import Soutenir from '../partials/Soutenir.vue';

export default {
  components: {
    Soutenir
  },
  data() {
    return {
      w: this.is.before('2019/10/15') ? 4 : 3,
    }
  }
}
</script>