<template>
  <p class="signature text-right small">
    <span v-html="$t('meta.start')"></span> <span v-html="date($t('meta.date'))"></span><br>
    <span v-html="$t('meta.edit')"></span> <span v-html="date($t('date'))"></span><br>
    <span v-html="$t('txt.pics')"></span> <a href="http://www.davidrevoy.com">David Revoy</a>
     - <span v-html="$t('txt.license')"></span> <span v-html="$t('license.ccby4')"></span>
  </p>
</template>

<script>
export default {
  methods: {
    date(date) {
      return new Date(date).toLocaleDateString(this.$t('lang'), {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      });
    }
  }
}
</script>

<style>
.signature {
  margin-top: 20px;
  margin-bottom: 0;
}
</style>